.body {
  max-width: 750px;
  width: 80%;
  margin: auto;
}

.yokoponzoo-top-image {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.yokoponzoo-jdla {
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.yokoponzoo-my-name {
}

.copyright {
  margin-bottom: 1.5rem;
}
